* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  background: #f7edd0;
  font-family: "helvetica", sans-serif;
  font-size: 18pt;
}
#main > nav {
  flex: 0 0 10vw;
  background: #f7edd0;
  font-family: "helvetica", sans-serif;
  font-size: 18pt;
}
#main > aside {
  flex: 0 0 30vw;
  background: #f7edd0;
}
#main > nav {
  order: -1;
}
header, footer {
  background: grey;
  height: 10vh;
  color: lightgrey;
  padding-left: 20px;
}
footer, article, nav, aside {
  padding: 1em;
}


span.has-count {
  color: #CACACA !important;
}

span.last-guess {
  color: red;
}

span.redacted {
  color: #3F3F3F;
  background-color: #3F3F3F;
  letter-spacing: 2px;
  cursor: pointer;
}

#text-box {
  width: 20vw;
  height: 2em;
  font-family: "helvetica", sans-serif;
  font-size: 14pt;
}

#submit {
  width: 5vw;
  height: 2em;
  font-family: "helvetica", sans-serif;
  font-size: 14pt;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#guesses-div {
  font-family: "helvetica", sans-serif;
  font-size: 18pt;
}

#guess-table {
  width: 100%;
  align: center;
}

.guess-table-td {
  text-align: center;
  color: black;
}

#guess-table:first-child {
  border: 1px black;
}